.container1 {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container2 {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 50px;
}

.maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}


.contact-icon {
    min-width: 57px;
    height: 57px;
    display: inline-block;
    border-radius: 60%;
    background-color: rgba(218, 213, 213, 0.788);
    color: rgb(77, 77, 250);
    text-align: center;
    font-size: 30px;
    margin-right: 1rem;
}

.contact-icon {
    line-height: 67px;
}



.icontext {
    display: flex;
    font-size: 25px;
    margin-top: 10px;
}

.box {
    font-size: 30px;
}

img {
    border-radius: 10px;
    object-fit: contain;
}

.learn {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.slash {
    width: 200px;
    height: 0px;
    border: 1px black solid;
    background-color: brown;
    margin: 0px;
}

.image {
    height: 500px;
    width: 400px;
}


@media only screen and (max-width:767px) {

    .maincontainer {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 10px;
    }

    .image {
        height: 300px;
        width: 300px;
        object-fit: contain;
    }

    .learn {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    .slash {
        width: 70px;
        height: 0px;
        border: 1px black solid;
        background-color: brown;
        margin: 0px;
    }

    .learn1 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .container2 {
        width: 300px;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        margin-top: 50px;
    }

    .container1 {
        width: 300px;
        height:max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
}